@{
    ViewBag.Title = "About";
}
    <body style="background:black">
        <h2 style="color:white">@ViewBag.Title.</h2 >

        <h4 style="color:white">We here to help you to find a Job!</h4>
    </body>