@{
    ViewBag.Title = "Contact";
}
    <body style="background-color:black">
        <h2 style="color:white" >@ViewBag.Title.</h2>

        <address style="color:white">
            Canal View<br />
            canal road lahore<br />
            <abbr title="Phone">P: </abbr>
            03400000000
        </address>

        <address style="color:white">
            <strong>Support:</strong>   <a href="mailto:xyz@gmail.com">xyz@gmail.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:xyz@gmail.com">xyz@gmail.com</a>
        </address>
    </body>