@model zain.Models.job
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body style="background:black">


    <div>
        <br>
        <form method="get" action="/Home/Done/@Model.Id" style="max-width:500px;margin:auto" class="Per2" name=signup>

            <p ><b>Job Type:</b></p>
            <div class="input-container">
                <input type="text" class="input-field empty" value=@Model.jobtype name="type">
            </div>
            <p><b>Job Title:</b></p>
            <div class="input-container">
                <input type="text" class="input-field empty" value=@Model.jobtitle name="title">

            </div>
            <p><b>Company Name:</b></p>
            <div class="input-container">
                <input type="text" class="input-field empty" value=@Model.company name="company">

            </div>
            <p><b>Location:</b></p>
            <div class="input-container">
                <input type="text" class="input-field empty" value=@Model.location name="location">
            </div>
            <br>
            <button type="submit" class="btn1">Edit</button>
        </form>
    </div>
</body>