@{
    ViewBag.Title = "Home Page";
}

    <body style="background-color:black">

        <div>
            <br />
            <br />
            <br />
            <br />
            <h1 style="color:white">Welcome to Job portal!</h1>
        </div>
    </body>